body {
    font-size: 100%;
}

p,h1,h3 {
    margin: 0;    
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
    font-size: xx-large; 
    font-size: larger;
    font-size: 1.2em; 
}