body {
    background: #f9e933;
    font-family: 'Noto Sans', sans-serif;       
}
    * {    
        box-sizing: border-box;
    }
    .clear {
        clear: right;
    }

    h1, h2, h3, h4, h5 {
        font-family: 'Ubuntu', sans-serif;    
    }
    h1 { 
        width: 65%;  
        font-size: 295%;
        font-weight: 400;
        font-style: italic;
        padding-top: 22px;
        padding-bottom: 22px;
        padding-left: 5px;
        
        float: left;    
    }
    h2 { 
        margin-bottom: 10px;
        font-size: 155%;
        font-weight: 700;    
    }
    h3 {
        margin-bottom: 10px; 
        font-size: 100%;   
        font-weight: 700;    
    }
    h5 { 
        font-size: 75%;   
        font-weight: 400;        
    }
    header, main, footer {
        min-width: 800px;   
    }
    header .container, main .container, footer .container  {
        max-width: 800px;
        margin: auto;           
    }

header {
    border-bottom: 1px solid #ccc;
    background: #fff;
    overflow: auto;   
}
    header nav {        
        width: 35%;
        margin-top: 25px;                
        font-size: 100%;
        font-weight: 700;

        float: right;
    }
        nav a {
            text-decoration: none;
            color: #000;            
        }

main {
    background: #fff;    
    padding-top: 35px;
    padding-bottom: 40px;
    overflow: auto;
}
    .main-left {        
        width: 75%;
        padding-left: 35px;

        float: left;
    }
        .main-left p {
            padding-right: 50px;
            margin-bottom: 15px;
            font-size: 75%;
            font-weight: 700;
        }
        .main-left ul {
            padding-left: 20px;
            font-size: 80%;
            font-weight: 700;
            list-style-type: circle;                                  
        }
            .main-left ul li {
                line-height: 1.5;               
            }
    .main-right {        
        width: 25%;        

        float: right;
    } 

    footer {
        background: #ccc;
    }
        .contact {
            float: left;
            width: 65%;
        }
        .sitemap {           
            float: right;
            width: 35%;
        }
            .sitemap ul {
                float: right;
            }
            .sitemap h5 { 
                font-size: 75%;   
                font-weight: 400;
                
                float: left;
            }